#tempchart {
    max-width: 100%;
    height: 18em;
}

.tempset-input {
    width: 6em !important;
}

.controlpanel {
    display: block;
    width: auto;
}

.controlpanel td {
    width: 4em;
    height: 1em;
    padding: 0px;
    border-top: 0px;
    text-align: center;
    vertical-align: center;
}

#emebutton-container {
    padding: 1em !important;
}

#emebutton {
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.speed-control {
    width: 6em;
    display: inline;
}
