<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google" value="notranslate">

	<title>FlaMo</title>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootcards CSS files for desktop, iOS and Android -->
	<!-- You'll only need to load one of these (depending on the device you're using) in production -->

	<!-- Bootcards CSS files for desktop, iOS and Android -->
	<!-- You'll only need to load one of these (depending on the device you're using) in production -->
	<!--<link href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-ios.min.css" rel="stylesheet">-->
	<link href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-desktop.min.css" rel="stylesheet">
	<!--<link href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-android.min.css" rel="stylesheet">-->

	<!-- Font awesome -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
	
	<link href="static/css/vendor/spectrum.css" rel="stylesheet" />

	<link href="static/css/main.css" rel="stylesheet" />
</head>

<body class="bootcards-nofooter">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/">FlaMo</a>
			<div class="navbar-collapse collapse pull-right">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/logout">
							<i class="fa fa-sign-out"></i>
							Logout
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-5 bootcards-list">
				<!-- CARD: Printer Information -->
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">Printer Information</h3>
					</div>
					<div class="list-group">
						<div class="list-group-item">
							<p class="list-group-item-text">Machine Name</p>
							<h4 class="list-group-item-heading" id="machine_name"></h4>
						</div>
						<div class="list-group-item">
							<p class="list-group-item-text">Machine Type</p>
							<h4 class="list-group-item-heading" id="machine_type"></h4>
						</div>
						<div class="list-group-item">
							<p class="list-group-item-text">Machine State</p>
							<h4 class="list-group-item-heading" id="machine_state"></h4>
						</div>
					</div>
				</div>
				
				<!-- CARD: Webcam -->
				<div class="panel panel-default bootcards-media">
					<div class="panel-heading">
						<h3 class="panel-title">Webcam</h3>
					</div>
					<img src="{{streamurl}}" class="img-responsive"/>
				</div>
			
			</div>
			<div class="col-sm-7 bootcards-cads">
				<!-- CARD: Control -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Control</h3>
					</div>
					<div class="modal-body">
						<table class="controlpanel">
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>Y</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td colspan="4" rowspan="4" id="emebutton-container">
									<button id="emebutton" class="btn btn-danger">EMERGENCY<br>STOP</button>
								</td>
								<td><button id="move_y_up" class="btn btn-default">+100</button></td>
								<td rowspan="4" colspan="4">
									<div class="btn-group">
										<button id="move_y_up" class="btn btn-default">Ena Motors</button>
										<button id="move_y_up" class="btn btn-default">Dis Motors</button>
									</div>
									<div class="btn-group">
										<button id="move_y_up" class="btn btn-default">Enable Fan</button>
										<button id="move_y_up" class="btn btn-default">Disable Fan</button>
									</div>
									<div class="row">
										Set LEDs: <input type='text' id="ledcolor"/>
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><button id="move_y_up" class="btn btn-default">+10</button></td>
							</tr>
							<tr>
								<td></td>
								<td><button id="move_y_up" class="btn btn-default">+1</button></td>
							</tr>
							<tr>
								<td></td>
								<td><button id="move_y_up" class="btn btn-default">+0.1</button></td>
							</tr>
							<tr>
								<td>X</td>
								<td><button id="move_y_up" class="btn btn-default">-100</button></td>
								<td><button id="move_y_up" class="btn btn-default">-10</button></td>
								<td><button id="move_y_up" class="btn btn-default">-1</button></td></td>
								<td><button id="move_z_up" class="btn btn-default">-0.1</button></td>
								<td><button id="move_y_up" class="btn btn-default"><i class="fa fa-home" aria-hidden="true"></i></button></td>
								<td><button id="move_y_up" class="btn btn-default">+0.1</button></td>
								<td><button id="move_y_up" class="btn btn-default">+1</button></td></td>
								<td><button id="move_z_up" class="btn btn-default">+10</button></td>
								<td><button id="move_z_up" class="btn btn-default">+100</button></td>
							</tr>
							<tr>
								<td></td>
								<td colspan="4" rowspan="4">
									<table class="controlpanel">
										<tr>
											<td colspan="3"></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+100</button></td>
											<td rowspan="4"><button id="move_y_up" class="btn btn-default"><i class="fa fa-home" aria-hidden="true"></i></button></td>
											<td><button id="move_y_up" class="btn btn-default">-0.1</button></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+10</button></td>
											<td><button id="move_y_up" class="btn btn-default">-1</button></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+1</button></td>
											<td><button id="move_y_up" class="btn btn-default">-10</button></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+0.1</button></td>
											<td><button id="move_y_up" class="btn btn-default">-100</button></td>
										</tr>
										<tr>
											<td colspan="3">
												Z
											</td>
										</tr>
									</table>
								</td>
								<td><button id="move_y_up" class="btn btn-default">-0.1</button></td>
								<td colspan="4" rowspan="4">
									<table class="controlpanel pull-right">
										<tr>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+100</button></td>
											<td><button id="move_y_up" class="btn btn-default">-0.1</button></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+10</button></td>
											<td><button id="move_y_up" class="btn btn-default">-1</button></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+1</button></td>
											<td><button id="move_y_up" class="btn btn-default">-10</button></td>
										</tr>
										<tr>
											<td><button id="move_y_up" class="btn btn-default">+0.1</button></td>
											<td><button id="move_y_up" class="btn btn-default">-100</button></td>
										</tr>
										<tr>
											<td colspan="2">
												Extrude
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><button id="move_y_up" class="btn btn-default">-1</button></td>
							</tr>
							<tr>
								<td></td>
								<td><button id="move_y_up" class="btn btn-default">-10</button></td>
							</tr>
							<tr>
								<td></td>
								<td><button id="move_y_up" class="btn btn-default">-100</button></td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-xs-4">
								X/Y
								<input class="form-control speed-control" id="speed_xy" type="text" value="1800">
							</div>
							<div class="col-xs-4">
								Z
								<input class="form-control speed-control" id="speed_z" type="text" value="1200">
							</div>
							<div class="col-xs-4">
								Extruder
								<input class="form-control speed-control" id="speed_ext" type="text" value="240">
							</div>
						</div>
						<div class="row">
							<hr style="margin: 0.2em;">
							<center><i>Speeds (mm/min)</i></center>
						</div>
					</div>
				</div>
				
				<!-- CARD: Temperatures -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Temperatures</h3>
					</div>
					<div id="tempchart"></div>
					<div class="panel-footer" id="tempforms">
					</div>
				</div>
				
				<!-- CARD: Terminal -->
				<div class="panel panel-default">
					<form class="form-horizontal" id="gcode_cmd_form">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">Terminal</h3>
						</div>
						<div class="modal-body">
								<div class="form-group">
									<div class="col-xs-12">
										<textarea class="form-control" rows="6" id="terminal" readonly="readonly"></textarea>
									</div>
								</div>
						</div>
						<div class="panel-footer">
							<div class="form-group">
								<label class="col-xs-3 control-label">Command:</label>
								<div class="col-xs-6">
									<input type="text" class="form-control" value="M119" id="gcode_cmd">
								</div>
								<div class="col-xs-3">
									<button tyoe="submit" class="btn btn-default">
										<i class="fa fa-envelope"></i>
										Send
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


    <!-- Bootstrap & jQuery core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Bootcards JS -->
    <script src="static/js/vendor/bootcards.js"></script>

    <!--recommended: FTLabs FastClick library-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>

    <script type="text/javascript">
		/*
		* Initialize Bootcards.
		* 
		* Parameters:
		* - offCanvasBackdrop (boolean): show a backdrop when the offcanvas is shown
		* - offCanvasHideOnMainClick (boolean): hide the offcanvas menu on clicking outside the off canvas
		* - enableTabletPortraitMode (boolean): enable single pane mode for tablets in portraitmode
		* - disableRubberBanding (boolean): disable the iOS rubber banding effect
		* - disableBreakoutSelector (boolean) : for iOS apps that are added to the home screen:
					jQuery selector to target links for which a fix should be added to not
					allow those links to break out of fullscreen mode.
		*/
		bootcards.init( {
			offCanvasBackdrop : true,
			offCanvasHideOnMainClick : true,
			enableTabletPortraitMode : true,
			disableRubberBanding : true 
		});
		//enable FastClick
		window.addEventListener('load', function() {
			FastClick.attach(document.body);
		}, false);
    </script>
    
    <script src="static/js/vendor/socket.io-1.4.5.js"></script>
    <script src="static/js/vendor/canvasjs.js"></script>
    <script src="static/js/vendor/spectrum.js"></script>
    
    <script src="static/js/flashforge.js"></script>
    <script src="static/js/temp.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
